* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word; }

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%; }
  html body {
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
    color: #2f383d; }
    html body #wrapper {
      min-height: 100%;
      margin-bottom: -45px; }
      html body #wrapper:after {
        content: "";
        display: block; }
      html body #wrapper header {
        padding: 1%;
        margin-bottom: 4%; }
        html body #wrapper header:after {
          content: ".";
          visibility: hidden;
          display: block;
          height: 0;
          clear: both; }
        html body #wrapper header .title {
          text-align: center;
          font-size: 3rem; }
      html body #wrapper .admin-header .user-name, html body #wrapper .admin-header .logout, html body #wrapper .user-header .user-name, html body #wrapper .user-header .logout {
        font-size: 2rem; }
      html body #wrapper .admin-header .logout a, html body #wrapper .user-header .logout a {
        text-decoration: none;
        color: #2f383d; }
        html body #wrapper .admin-header .logout a:hover, html body #wrapper .user-header .logout a:hover {
          color: rgba(139, 149, 150, 0.5); }
      html body #wrapper .user-header {
        color: #2f383d;
        background-color: white; }
      html body #wrapper .admin-header {
        color: #e3e3e3;
        background-color: #386091; }
      html body #wrapper main {
        background-color: white;
        padding: 2%;
        margin-bottom: 2%; }
        html body #wrapper main .result-message {
          font-size: 2.5rem;
          text-align: center; }
        html body #wrapper main .ad {
          border: 1px solid #386091;
          margin-bottom: 2%;
          background-color: #e3e3e3;
          border-radius: 2px;
          padding: 2%;
          box-shadow: 1px 1px 1px 0 #212121;
          -moz-box-shadow: 1px 1px 1px 0 #435264;
          -webkit-shadow: 1px 1px 1px 0 #435264; }
          html body #wrapper main .ad:after {
            content: ".";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both; }
          html body #wrapper main .ad .ad-title {
            margin-bottom: 4%;
            border-bottom: 1px solid #386091;
            font-size: 1.7rem;
            font-weight: bold; }
            html body #wrapper main .ad .ad-title:after {
              content: ".";
              visibility: hidden;
              display: block;
              height: 0;
              clear: both; }
            html body #wrapper main .ad .ad-title div {
              text-align: center; }
          html body #wrapper main .ad .ad-image {
            max-width: 100%;
            max-height: 100%; }
          html body #wrapper main .ad .ad-details div {
            margin-bottom: 2%; }
          html body #wrapper main .ad .ad-details .bordered {
            border: 1px solid #386091;
            background-color: #d2d2d2;
            padding: 2%;
            border-radius: 2px; }
        html body #wrapper main .form {
          border: 1px solid #386091;
          background-color: #e3e3e3;
          border-radius: 2px;
          padding: 2%;
          box-shadow: 1px 1px 1px 0 #212121;
          -moz-box-shadow: 1px 1px 1px 0 #435264;
          -webkit-shadow: 1px 1px 1px 0 #435264; }
          html body #wrapper main .form:after {
            content: ".";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both; }
          html body #wrapper main .form .title {
            text-align: center;
            font-size: 2rem;
            border-bottom: 1px solid #386091;
            margin-bottom: 2%; }
          html body #wrapper main .form .left-half, html body #wrapper main .form .right-half {
            margin-bottom: 2%; }
            html body #wrapper main .form .left-half label, html body #wrapper main .form .right-half label {
              margin-top: 2%; }
          html body #wrapper main .form .no-padding {
            padding-left: 0;
            padding-right: 0; }
          html body #wrapper main .form .login {
            text-align: center; }
            html body #wrapper main .form .login a {
              color: #386091;
              text-decoration: none;
              font-size: 2rem; }
              html body #wrapper main .form .login a:hover {
                color: #2f383d; }
          html body #wrapper main .form .enabled-button {
            font-size: 2rem;
            height: 35px;
            border-radius: 3px;
            box-shadow: 3px 3px 1px 0 #386091;
            -moz-box-shadow: 3px 3px 1px 0 #386091;
            -webkit-shadow: 3px 3px 1px 0 #386091;
            border: 1px solid #2f383d; }
            html body #wrapper main .form .enabled-button:active, html body #wrapper main .form .enabled-button:focus {
              outline: none; }
            html body #wrapper main .form .enabled-button:active {
              position: relative;
              top: 3px;
              box-shadow: none;
              -moz-box-shadow: none;
              -webkit-shadow: none; }
          html body #wrapper main .form .login-input-wrapper input {
            margin-bottom: 2%; }
          html body #wrapper main .form .login-controls-wrapper {
            margin-top: 2%; }
          html body #wrapper main .form .error-info {
            color: red;
            font-weight: bold;
            font-size: 1.5rem; }
          html body #wrapper main .form label, html body #wrapper main .form input, html body #wrapper main .form select {
            display: block;
            width: 100%; }
          html body #wrapper main .form input, html body #wrapper main .form select {
            height: 35px; }
      html body #wrapper aside .sidebar-title, html body #wrapper aside p {
        border-bottom: 1px solid #212121;
        margin: 0 0 2% 0;
        text-align: center;
        border-left: 3px solid #386091; }
      html body #wrapper aside .sidebar-title {
        font-size: 2.5rem; }
      html body #wrapper aside p {
        font-size: 1.7rem; }
      html body #wrapper aside ul {
        background-color: rgba(139, 149, 150, 0.5);
        border-left: 3px solid #386091;
        border-radius: 2px;
        padding: 4%; }
        html body #wrapper aside ul li {
          border-radius: 2px;
          padding: 2%;
          list-style-type: none;
          text-indent: 2%;
          font-size: 1.5rem; }
          html body #wrapper aside ul li:hover {
            background-color: #e3e3e3; }
          html body #wrapper aside ul li a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            font-size: 1.8rem;
            color: #2f383d; }
        html body #wrapper aside ul .active {
          background-color: #e3e3e3; }
      html body #wrapper .bold {
        font-weight: bold; }
    html body footer, html body #wrapper:after {
      height: 45px; }
    html body footer {
      width: 100%;
      position: fixed;
      bottom: 0;
      text-align: center;
      font-size: 1.5rem; }
