// Colors
$blue: rgb(56, 96, 145);
$blackFont: rgb(47, 56, 61);
$lightGrey: rgb(227, 227, 227);
$darkGrey: rgba(139, 149, 150, 0.5);
// Sizes
$footerSize: 45px;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

html{
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  body{
    width: 100%;
    height: 100%;
    background-color: $lightGrey;
    color: $blackFont;
    #wrapper{
      min-height:100%;
      margin-bottom: -$footerSize;
      &:after{
        content: "";
        display: block;
      }
      header{
        padding: 1%;
        margin-bottom: 4%;
        &:after{
          content: ".";
          visibility: hidden;
          display: block;
          height: 0;
          clear: both;
        }
        .title{
          text-align: center;
          font-size: 3rem;
        }
      }
      .admin-header, .user-header{
        .user-name, .logout{
          font-size: 2rem;
        }
        .logout{
          a{
            text-decoration: none;
            color: $blackFont;
            &:hover{
              color: $darkGrey;
            }
          }
        }
      }
      .user-header{
        color: $blackFont;
        background-color: rgb(255, 255, 255);
      }
      .admin-header{
        color: $lightGrey;
        background-color: $blue;
      }// header
      main{
        background-color: rgb(255, 255, 255);
        padding: 2%;
        margin-bottom: 2%;
        .result-message{
          font-size: 2.5rem;
          text-align: center;
        }
        .ad{
          border: 1px solid $blue;
          margin-bottom: 2%;
          background-color: $lightGrey;
          border-radius: 2px;
          padding: 2%;
          box-shadow: 1px 1px 1px 0 rgb(33, 33, 33);
          -moz-box-shadow:  1px 1px 1px 0 rgb(67,82,100);
          -webkit-shadow:  1px 1px 1px 0 rgb(67,82,100);
          &:after{
            content: ".";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
          }
          .ad-title{
            margin-bottom: 4%;
            border-bottom: 1px solid $blue;
            font-size: 1.7rem;
            font-weight: bold;
            &:after{
              content: ".";
              visibility: hidden;
              display: block;
              height: 0;
              clear: both;
            }
            div{
              text-align: center;
            }
          }
          .ad-main-content{
          }
          .ad-image{
            max-width: 100%;
            max-height: 100%;
          }
          .ad-details{
            div{
              margin-bottom: 2%;
            }
            .bordered{
              border: 1px solid $blue;
              background-color: rgb(210, 210, 210);
              padding: 2%;
              border-radius: 2px;
            }
          }
        } // add
        .form{
          border: 1px solid $blue;
          background-color: $lightGrey;
          border-radius: 2px;
          padding: 2%;
          box-shadow: 1px 1px 1px 0 rgb(33, 33, 33);
          -moz-box-shadow:  1px 1px 1px 0 rgb(67,82,100);
          -webkit-shadow:  1px 1px 1px 0 rgb(67,82,100);
          &:after{
            content: ".";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
          }
          .title{
            text-align: center;
            font-size: 2rem;
            border-bottom: 1px solid $blue;
            margin-bottom: 2%;
          }
          .left-half, .right-half{
            margin-bottom: 2%;
            label{
              margin-top: 2%;
            }
          }
          .no-padding{
            padding-left: 0;
            padding-right: 0;
          }
          .login{
            text-align: center;
            a{
              color: $blue;
              text-decoration: none;
              font-size: 2rem;
              &:hover{
                color: $blackFont;
              }
            }
          }
          .enabled-button{
            font-size: 2rem;
            height: 35px;
            border-radius: 3px;
            box-shadow: 3px 3px 1px 0 $blue;
            -moz-box-shadow:  3px 3px 1px 0 $blue;
            -webkit-shadow:  3px 3px 1px 0 $blue;
            border: 1px solid $blackFont;
            &:active, &:focus{
              outline: none;
            }
            &:active{
              position: relative;
              top: 3px;
              box-shadow: none;
              -moz-box-shadow: none;
              -webkit-shadow: none;
            }
          }
          .login-input-wrapper{
            input{
              margin-bottom: 2%;
            }
          }
          .login-controls-wrapper{
            margin-top: 2%;
          }
          .error-info{
            color: red;
            font-weight: bold;
            font-size: 1.5rem;
          }
          label, input, select{
            display: block;
            width: 100%;
          }
          input, select{
            height: 35px;
          }
        }
      } // main
      aside{
        .sidebar-title, p{
          border-bottom: 1px solid rgb(33, 33, 33);
          margin: 0 0 2% 0;
          text-align: center;
          border-left: 3px solid $blue
        }
        .sidebar-title{
          font-size: 2.5rem;
        }
        p{
          font-size: 1.7rem;
        }
        ul{
          background-color: $darkGrey;
          border-left: 3px solid $blue;
          border-radius: 2px;
          padding: 4%;
          li{
            border-radius: 2px;
            padding: 2%;
            list-style-type: none;
            text-indent: 2%;
            font-size: 1.5rem;
            &:hover{
              background-color: $lightGrey;
            }
            a{
              display: block;
              width: 100%;
              height: 100%;
              text-decoration: none;
              font-size: 1.8rem;
              color: $blackFont;
            }
          }
          .active{
            background-color: $lightGrey;
          }
        }
      }
      .bold{
        font-weight: bold;
      }
    } // wrapper
    footer, #wrapper:after {
      height: $footerSize;
    }
    footer{
      width:100%;
      position:fixed;
      bottom:0;
      text-align: center;
      font-size: 1.5rem;
    }
  } // body
}