<form action="" name="loginForm" ng-controller="LoginController" class="form">
    <div class="title">
        Login
    </div>
    <div class="col-md-8 col-md-offset-2 login-input-wrapper">
        <label for="username">Username: </label>
        <input type="text"
               id="username"
               name="username"
               ng-model="loginData.username"
               tabindex="1"
               required/>
        <div class="error-info"
             ng-show="loginForm.username.$error.required && loginForm.$dirty">
            Username is required
        </div>
        <label for="password">Password: </label>
        <input type="password"
               name="password"
               ng-model="loginData.password"
               id="password"
               tabindex="2"
               required/>
        <div class="error-info"
             ng-show="loginForm.password.$error.required && loginForm.$dirty">
            Password is required
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2 login-controls-wrapper">
        <button class="main-button col-md-5 pull-left"
                ng-click="login(loginData)"
                ng-disabled="loginForm.username.$error.required ||
                loginForm.password.$error.required">Login</button>
        <div class="col-md-5 pull-right login"><a href="#/login">Login here</a></div>
    </div>
</form>