<form action="" ng-controller="PublishNewAdController" name="newAdForm" class="publish-new-ad-form">
    <div class="title">
        Publish New Ad
    </div>
    <div class="col-lg-8">
        <div class="col-md-12">
            <label for="adTitle"
                   class="col-md-3">Title</label>
            <input type="text"
                   id="adTitle"
                   name="adTitle"
                   ng-model="newAdData.adTitle"
                   class="col-md-9"/>
        </div>
        <div class="col-md-12">
            <label for="adText"
                   class="col-md-3">Text</label>
            <textarea name="adText"
                      id="adText"
                      ng-model="newAdData.adText"
                      class="col-md-9"></textarea>
        </div>
        <div class="col-md-12">
            <label for="category"
                   class="col-md-3">Category: </label>
            <select name="category"
                    id="category"
                    ng-model="newAdData.category"
                    class="col-md-9">
                <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
            </select>
        </div>
        <div class="col-md-12">
            <label for="town"
                   class="col-md-3">Town: </label>
            <select name="town"
                    id="town"
                    ng-model="newAdData.town"
                    class="col-md-9">
                <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
            </select>
        </div>
        <div class="col-md-12">
            <label for="imageUrl"
                   class="col-md-3">Image: </label>
            <input type="file"
                   id="imageUrl"
                   name="imageUrl"
                   ng-model="newAdData.imageDataUrl"
                   class="col-md-9"
                   onchange="angular.element(this).scope().fileSelected(this)"/>
        </div>
    </div>
    <div id="ad-image" class="ad-image col-lg-4">
        <img src="" alt="ad-image"
             ng-src="{{adImage}}"/>
    </div>
    <div class="col-md-12 text-center">
        <button class="enabled-button" ng-click="publish(newAdData)">Publish ad</button>
    </div>
</form>