<form action="" ng-controller="RegisterController" name="registerForm" class="form">
    <div class="title">
        User Registration
    </div>
    <div class="col-md-12 no-padding">
        <div class="col-md-6">
            <label for="username">Username: </label>
            <input type="text"
                   name="username"
                   ng-model="registerData.username"
                   id="username"
                   tabindex="1"
                   required/>
            <div ng-show="registerForm.username.$error.required &&
                registerForm.username.$dirty"
                class="error-info">
                Username is required!
            </div>
        </div>
    </div>
    <div class="col-md-6 left-half">
        <label for="password">Password: </label>
        <input type="password"
               name="password"
               id="password"
               ng-model="registerData.password"
               tabindex="2"
               required/>
        <div ng-show="registerForm.password.$error.required &&
             registerForm.password.$dirty"
             class="error-info">
            Password is required!
        </div>
        <label for="name">Name: </label>
        <input type="text"
               name="name"
               id="name"
               ng-model="registerData.name"
               tabindex="3"
               required/>
        <div ng-show="registerForm.name.$error.required &&
             registerForm.name.$dirty"
             class="error-info">
            Name is required!
        </div>
        <label for="phone">Phone: </label>
        <input type="text"
               name="phone"
               ng-model="registerData.phone"
               id="phone"
               tabindex="4"/>
    </div>
    <div class="col-md-6 right-half">
        <label for="confirm">Confirm password: </label>
        <input type="password"
               name="confirm"
               ng-model="registerData.confirmPassword"
               id="confirm"
               tabindex="5"
               required
               confirm-password="password"/>
        <div ng-show="registerForm.confirm.$error.passwordsNotMatch"
             class="error-info">
            Confirm password do not match!</div>
        <label for="email">Email: </label>
        <input type="email"
               name="email"
               id="email"
               ng-model="registerData.email"
               tabindex="6"
               required/>
        <div ng-show="registerForm.email.$error.required &&
             registerForm.email.$dirty"
             class="error-info">
            Email is required!
        </div>
        <div ng-show="registerForm.email.$invalid &&
             registerForm.email.$dirty &&
             !registerForm.email.$error.required"
             class="error-info">
            Email should be a valid one!
        </div>
        <label for="town">Town: </label>

        <!--Towns with combobox-->
        <!--<input type="text"-->
               <!--name="town"-->
               <!--id="town"-->
               <!--ng-model="registerData.town"-->
               <!--list="towns"/>-->
        <!--<datalist id="towns">-->
            <!--<option ng-repeat="town in towns">{{town.name}}</option>-->
        <!--</datalist>-->

        <!--Towns with select-->
        <select name="town"
               id="town"
               ng-model="registerData.town">
            <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
        </select>
    </div>
    <div class="col-md-12">
        <button class="enabled-button col-md-3 pull-left"
                name="register"
                ng-model="register"
                type="submit"
                ng-disabled="registerForm.username.$error.required ||
                registerForm.password.$error.required ||
                registerForm.email.$error.required ||
                registerForm.name.$error.required ||
                registerForm.confirm.$error.passwordsNotMatch"
                ng-click="registerUser(registerData)">
            Register
        </button>
        <div class="col-md-3 pull-right login"><a href="#/login">Login here</a></div>
    </div>
</form>